@import url('https://fonts.googleapis.com/css?family=Poiret+One');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END OF CSS RESET*/

body {
  background-image: url("sea-beach-ocean-waves.jpg");
  background-size: cover;
  font-family: 'Poiret One', cursive;
}
/*HEADER SECTION CSS STUFF*/
.logo {
  margin: 50px;
  padding: 10px;
}
.logo img {
  float: left;
  margin: 0 10px;
  width: 30px;
}
.logo h1 {
  color: #f8f1f1;
  font-size: 2em;
}
/*MAIN SECTION CSS STUFF*/
.main {
  clear: both;
  background-color: #FFF;
  margin: 10px auto;
  text-align: center;
  width: 30%;
}

.form-section {
  clear: both;
  margin: 10px;
  padding: 10px 60px;
}
h5 {
  margin: 2%;
  text-align: left;
}
.text-input {
  border: 2px solid gray;
  border-radius: 2px;
  line-height: 2;
  padding: 1% 3%;
  width: 90%;
}
.special-form-section {
  padding: 5px 60px;
}
.remember-me {
  float: left;
}
button {
  background-color:  #2980b9;
  color: white;
  border: none;
  clear: both;
  font-family: 'Poiret One', cursive;
  font-size: 1.25em;
  margin: 5%;
  padding: 10px;
  text-align: center;
}
.reset-password {
  float: right;
  font-size: .75em;
  font-weight: bold;
  margin: 5% 3%;
  text-align: center;
}
/*FOOTER SECTION CSS STUFF*/
footer {
  margin: 250px 100px 50px 50px;
}
.address {
  color: #FFF;
  float: left;
  margin: 20px;
}
.links {
  color: #FFF;
  float: right;
  margin: 20px;
}
