/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END OF CSS RESET*/
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.left {
  background: #C7CCDB;
  float: left;
  position: sticky;
  height: 100vh;
  width: 40vw;
}
.left h1 {
  color: #E5989B;
  font-size: 2em;
  padding: 5%;
}
.left p {
  color: #2A324B;
  margin-top: -5%;
  padding-left: 5%;
}
.categories {
  margin: 10% 5%;
}

/*RIGHT SIDE*/
.right {
  background: ##E1E5EE;
  float: left;
  height: 100vh;
  width: 60vw;
}
.nav {
  position: fixed;
}
.nav li {
  float: right;
  padding: 5%;
}
.hack-container {
  border: 10px solid #C7CCDB;
  border-radius: 4px;
  margin: 0 auto;
  margin: 5% auto;
  width: 80%;
}
.placeholder-container {
  padding: 5%;
}
.text-placeholder {
  background: #C7CCDB;
  border-radius: 4px;
  width: 90%;
  height: 14px;
  margin: 2% auto;
}

.tag {
  background: #767B91;
  color: #FFF;
  padding: 1%;
  text-align: center;
  float: right;
  margin: 0 10%;
}
