/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*HEADER SECTION*/
body {
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: #FFF;
}
header {
  background:
    linear-gradient( rgba(54,0,51, .9), rgba(11,135,147, .9) ),
    url("https://images.pexels.com/photos/613182/pexels-photo-613182.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  height: 100vh;
  width: 100vw;
}
nav, section {
  padding: 2% 10% 0 10%;
}
nav span {
  font-family: 'Berkshire Swash', cursive;
  font-size: 2.75em;
}
.nav-links {
  float: right;
  margin-top: 1%;
  width: 70%;
}
.nav-links a {
  float: right;
  margin-left: 5%;
}
.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #FFF;
  transition: width .3s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width .3s;
}
.main {
  line-height: 2;
  margin-top: 6%;
  text-align: center;
}
.main h6 {
  font-weight: 100;
}
.main h5 {
  font-size: 2em;
  font-weight: 800;
}
.main h3 {
  font-size: 4em;
  font-weight: 900;
}
.counter-container {
  margin: 0 auto;
  width: 80%;
}
.counter-container span{
  background: rgba(255, 255, 255, 0.3);
  border: 3px solid rgba(11,135,147, .9);
  border-radius: 50%;
  display:inline-block;
  line-height: 8;
  margin: 5% 2%;
  padding: 1%;
  height: 100px;
  width: 100px;
}
.main-page-links a {
  border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: #FFF;
  margin: 5% 1%;
  padding: 1%;
}
/*DRINK SPECIALS SECTION*/
.page-title h3 {
	font-weight: 600;
	font-size: 2em;
	line-height: 2;
}
.box-container {
  margin: 5% auto;
	text-align: center;

}
.box-container span {
	display: inline-block;
	margin: 2%;
  text-align: center;
	height: 45vh;
  width: 45%;
}
.box-container div {
	background: rgba(54,0,51, .9);
	margin-top: 50%;
	margin-left: 60%;
	padding: 2% 0;
	width: 45%;
}
.drafts {
	background:
		linear-gradient( rgba(54,0,51, .6), rgba(11,135,147, .6) ),
		url("https://images.pexels.com/photos/459280/pexels-photo-459280.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	color: #FFF;

	font-size: 2em;
}
.longnecks {
	background:
		linear-gradient( rgba(54,0,51, .6), rgba(11,135,147, .6) ),
		url("https://images.pexels.com/photos/338711/pexels-photo-338711.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	color: #FFF;

	font-size: 2em;
}
.cocktails {
	background:
		linear-gradient( rgba(54,0,51, .6), rgba(11,135,147, .6) ),
		url("https://images.pexels.com/photos/613037/pexels-photo-613037.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	color: #FFF;

	font-size: 2em;
}
.wine {
	background:
		linear-gradient( rgba(54,0,51, .6), rgba(11,135,147, .6) ),
		url("https://images.pexels.com/photos/302458/pexels-photo-302458.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-repeat:no-repeat;
	background-size: cover;
	color: #FFF;
	font-size: 2em;
}
.seasonal {
	background:
		linear-gradient( rgba(54,0,51, .6), rgba(11,135,147, .6) ),
		url("https://images.pexels.com/photos/110472/pexels-photo-110472.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-size: contain;
	color: #FFF;
	font-size: 2em;
}
.virgin {
	background:
		linear-gradient( rgba(54,0,51, .6), rgba(11,135,147, .8) ),
		url("https://images.pexels.com/photos/545058/pexels-photo-545058.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-size: contain;
	color: #FFF;
	font-size: 2em;
}
.blog {
	background:
		linear-gradient( rgba(54,0,51, .7), rgba(11,135,147, .7) ),
		url("https://images.pexels.com/photos/274192/pexels-photo-274192.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-size: cover;
	background-repeat:no-repeat;
	color: #FFF;
	font-size: 2em;
	font-weight: 800;
	padding: 1%;
	text-align: center;
}
.blog div {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 3px;
	margin: 3% 10%;
	padding: 8%;
}
.button {
	border: 3px solid rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  color: #FFF;
	font-size: .75em;
	font-weight: 100;
  margin: 5%;
  padding: 1%;
	text-decoration: none;
}
.photo-holder {
	border: 1px solid black;
	border-radius: 3px;
	height: 40vh;
	margin: 5%;
}
.thumbnail-holder {
	margin-bottom: 10%;
	text-align: center;
}
.thumbnail-holder span {
	border: 1px solid black;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	height: 10vh;
	width: 8%;
}
/*ABOUT SECTION*/
.about {
	background:
		linear-gradient( rgba(54,0,51, .9), rgba(11,135,147, .9) ),
		url("https://images.pexels.com/photos/305832/pexels-photo-305832.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
	background-position: center;
	background-size: cover;
	background-repeat:no-repeat;
	color: #FFF;
	font-size: 2em;
	font-weight: 800;
	padding: 1%;
	text-align: center;
	height: 40vh;
}
.building img {

	background-size: cover;
	background-repeat:no-repeat;
	border-radius: 3px;
	float: left;
	height: 40vh;
	width: 33%;
}
/*.about-text {
	/*background:
		linear-gradient( rgba(54,0,51, .9), rgba(11,135,147, .9) );*/
	/*color: #FFF;
	float: left;
	height: 40vh;
	width: 33%;
}
.owner {*/
	/*background:
		linear-gradient( rgba(54,0,51, .9), rgba(11,135,147, .9) ),
		url("https://images.pexels.com/photos/173295/pexels-photo-173295.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");*/
	/*background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
	height: 40vh;
	width: 33%;
}*/
