/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END OF CSS RESET
START OF CSS*/
body {

}
header {
  background-image: url("cactus.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
nav {
  margin: 0 30px;
  text-align: center;
}
.nav-list {
  margin: 0 auto;
  width: 65%;
}
.nav-item {
  float: left;
  margin: 60px 25px;
}
.logo {
  border: 3px solid black;
  border-radius: 50%;
  margin: -40px 40px;
  width: 80px;
  height: 80px;
}
.hero-title {
  clear: both;
  font-size: 6em;
  line-height: 6;
  text-align: center;
}
/*FRONT PAGE INFO SECTION*/
.front-page-image {
  float: left;
  text-align: center;
  margin: 50px 0 50px 150px;
  width: 600px;
}
.info-graphic {
  border: 5px solid #eae8e8;
  float: left;
  text-align: center;
  margin: 160px 50px 0 150px;
  padding: 100px 20px;
  width: 300px;
}
.info-graphic h6 {
  background-color: #eae8e8;
  font-size: 2em;
  padding: 50px auto;
  line-height: 2;

}
.info-graphic h3 {
background-color: #eae8e8;
font-size: 1;
line-height: 2;
}
.front-page-info-title {
  clear: both;
  text-align: center;
  font-size: 2em;
  line-height: 2;
  margin: 30px auto;
}
.front-page-info-subtitle {
  text-align: center;
  font-size: 1.2em;
  margin: 30px auto;
}
.front-page-paragraph {
  margin: 0 auto;
  width: 80%;

}
.front-page-info p {
  font-size: 1.5em;
  line-height: 2;
  float: left;
  margin: 0 50px;
  width: 40%
}

.read-more-button {
  clear: both;
  border: 3px solid black;
  font-size: 1.75em;
  text-align: center;
  margin: 50px auto;
  padding: 10px;
  width: 200px;
}
/*SUB HERO PHOTO*/
.sub-hero-photo-container {
  height: 600px;
  width: 100%;
  background-image: url("pexels-photo-428311.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*.sub-hero-photo {
  display: block;
  height: auto;
  width: 100%;

}*/
/*FOOTER CSS GOES HERE*/
footer {
  background-color: #eae8e8;
  height: 500px;

}
