/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*END OF CSS RESET*/
/*START OF MY CUSTOM CSS*/
body {
		font-family: 'Vollkorn SC', serif;
}
.home-page {
	background: url(pastries.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
}
.hamburger-menu {
	cursor: pointer;
	text-align: right;
	padding: 5%;
}
.hamburger-1, .hamburger-2, .hamburger-3 {
	background-color: black;
	margin: 5px;
	height: 5px;
	width: 35px;
}
.change1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change2 {
	opacity: 0;
}
.change3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
.title {
  font-size: 8em;
	margin: 10%;
}
.down-arrow {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.down-arrow::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: -65%;
  left: 0;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 3s arrow infinite ease;
  animation: 3s arrow infinite ease;
 }

 @-webkit-keyframes arrow {
   0%, 100% {
     top: 50px;
   }
   50% {
     top: 80px;
   }
 }
 @keyframes arrow {
   0%, 100% {
     top: 50px;
   }
   50% {
     top: 80px;
   }
 }
